body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #71efe2 !important;
  background: linear-gradient(to bottom, 0deg, #71efe2 0%, #438dad 100%);
  background-repeat: no-repeat;
}

html:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    #438dad 75%
  );
}
