.box {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
  border-radius: 25px;
  -webkit-box-shadow: 5.5px 5px 10px 3px rgb(80, 77, 77);
  -moz-box-shadow: 5.5px 5px 10px 3px rgb(80, 77, 77);
  box-shadow: 5.5px 5px 10px 3px rgb(80, 77, 77);
}
